<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jdbc
	   http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application*.properties" />

    <context:component-scan base-package="bip.common.export"/>

<!--
    <bean id="dataSource" primary="true"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@192.168.88.2:1521:orcl" />
        <property name="username" value="sepehr" />
        <property name="password" value="sepehr" />
    </bean>
-->
    <!-- HikariCP configuration  -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close" primary="true">
        <constructor-arg ref="hikariConfig" />
    </bean>
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="springHikariCP" />
        <property name="dataSourceClassName" value="oracle.jdbc.pool.OracleDataSource" />
        <property name="maximumPoolSize" value="10" />
        <property name="connectionTimeout" value="30000" />
        <property name="maxLifetime" value="300000" />
        <property name="autoCommit" value="true" />
        <property name="dataSourceProperties" ref="dataSourceProperties" />
    </bean>
    <bean id="dataSourceProperties" class="bip.common.util.DataSourceProperties">
        <property name="defaults">
            <props>
                <prop key="url">jdbc:oracle:thin:@192.168.88.2:1521:orcl</prop>
                <prop key="user">saba2</prop>
                <prop key="password">saba</prop>
<!--
                <prop key="url">${sabaDB.connectionUrl}</prop>
                <prop key="user">${sabaDB.username}</prop>
                <prop key="password">${sabaDB.password}</prop>
-->
            </props>
        </property>
        <property name="connectionProperties">
            <props>
                <prop key="oracle.jdbc.ReadTimeout">300000</prop>
            </props>
        </property>
    </bean>


    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="dataSource"/>
        <property name="defaultTimeout" value="300"/> <!--second -->
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>



</beans>